@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

.italic {
    font-family: "Herr Von Muellerhoff", cursive;
    font-weight: 400;
}

/* default styles */
* {
    margin: 0;
}

.fc {
    color: rgb(255, 255, 255);
}

.container {
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
}

h3 {
    font-size: 40px;
    text-align: center;
    font-weight: 800;
    line-height: normal;
}

.orange-color {
    color: rgb(230, 83, 60);
}

p,
li {
    font-size: 22px;
    font-weight: normal;
    line-height: normal;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30rem;
}

.nav-options {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
}

.homebtn {
    background-color: rgb(230, 83, 60);
    width: 7rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
    font-weight: 500;

}

.shape {
    font-size: 5rem;
}

.italic {}